<% if subscriber_signed_in? || administrator_signed_in? %>
  
  <%= render :template => 'news/news_home', :collection => @noticias%>

  <%= render :template => 'books/index', :collection => @books%> 

<% else %>
  <div class="text-center">
    <h3>Bienvenido a Bookflix!</h3>
  </div>
<% end%>
