<h1>Bienvenido a Bookflix!</h1>
<div class="alert alert-danger" role="alert">
  Funciona bootstrap!
</div>
<% if subscriber_signed_in? %>
  <%= render :template => 'books/index', :collection => @books%>
<% end %>
<td>
