<h1> Preguntas frecuentes </h1>
	<p>¿Qué es bookflix?</p>
	<p>¿Cómo accedo a bookflix?</p>
	<p>¿Cómo me registro?</p>
	<p>¿Cómo creo un perfil?</p>
	<p>¿Cómo Elimino un perfil?</p>
	<p>¿Cómo puedo acceder a mi cuenta?</p>
	<p>No puedo acceder a mi cuenta ¿Qué hago?</p>
	<p>Me registre como usuario estándar y quiero convertirme en usuario premium ¿Qué hago?</p>
	<p>¿Cuáles son los medios de pago habilitados para pagar?</p>
	<p>¿Cómo doy de baja bookflix?</p>
	<%= link_to 'Regresar', url_for(:back)%>