<% if params['removed']!=nil%>
  <% if params['removed']=='true'%>
    <div class="alert alert-success" role="alert" style="margin-top:20px;">
      Se a borrado exitosamente el usuario administrador.
    </div>
  <%else%>
    <div class="alert alert-danger" role="alert" style="margin-top:20px;">
      No se a podido borrar el administrador.
    </div>
  <%end%>
<%end%>
<h1>Listado de adminsitradores</h1>
<%= link_to "Crear Admin", admin_panel_create_admin_path(), {:class => 'btn btn-dark', :role => "button", :style =>"margin-bottom:10px;" }%>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @administrators.each do |administrator| %>
      <tr>
        <td><%= administrator.email %></td>
        <td>
          <% if administrator.privileges != 0%>
            <button type="button" class="btn btn-dark">
              <%= link_to 'Borrar', admin_panel_index_admin_path(id:administrator), method: :delete, data: {confirm: 'Seguro que quieres eliminarlo?'},:style=>'color: inherit;'%>
            </button>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
